html {
  overflow-y: scroll;
}

body {
  color: #222;
  max-width: 800px;
  margin: 50px auto;
  padding: 0 10px;
  font: 14px/1.5 monospace;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

figure {
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}

.highlight {
  overflow-x: auto;
}

pre {
  margin: 0;

  code {
    background-color: inherit;
    color: inherit;
    border-radius: inherit;
    font-size: inherit;
    padding: inherit;
  }
}

li {
  margin: 0.5rem 0;
}

th,
td {
  padding: 1.6rem;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 2px solid;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

code {
  background-color: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 4px;
  font-size: 85%;
  padding: 0.2em 0.4em;
}

.code-copy-container {
  text-align: right;
}

.code-copy-button {
  font-size: 0.8em;
}

.code-copy-button:hover {
  cursor: pointer;
}

.code-copy-button:focus {
  outline: 0;
}
